html, body {
  height: 95vh;
  width: 95vw;
  margin: 0;
  padding: 0;
}

html {
  --d: 400vh;
  --angle: 0deg;
  --cosin: 1;

  height: 100vh;
  width: 100vw;
  background: repeating-linear-gradient(var(--angle),
    rgba(2,0,36,1), rgba(11,13,38,1), rgba(14,27,69,1), rgba(22,116,191,1), rgba(107,218,224,1), rgba(2,0,36,1));
  background-size: 100% calc(var(--d)/var(--cosin));
  animation: dayNightBackground 100s linear infinite;
}

@keyframes dayNightBackground {
  0% {
		background-position: 0 calc(var(--d)/var(--cosin));
	}
}

#container {
  height: 100%;
  width: 750px;
  margin: 20px auto;
  position: relative;
}

#dirt-ground {
  /* background: #593C31; */
  background: url('soil.png') center center no-repeat;
  background-size: cover;
  height: 70vh;
  width: 100%;
  transform: perspective(2000px) rotateX(65deg);
}

.stacked {
  position: absolute;
  top: 0;
}

.corn-plant-1 {
  height: 400px;
  width: 30px;
}
